<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>New Members</h2>
    <h3>for the brotherhood by the brotherhood</h3>
    <a href="/smoothies" class="btn">Contribute</a>
  </div>
</header>


<%- include('partials/footer'); -%>